.nav {
  border: 2px solid black;
  background-color: #2e193f;
}
.nav ul {
  text-decoration: none;
  list-style: none;
}
.nav ul li a {
  color: #b4a46b;
}

.nav li {
  display: inline;
  padding: 0px 0px 0px 3vw;
  font-size: 1.75vw;
  font-weight: bold;
}



.nav li:last-of-type {
  float: right;
  margin-right: 5%;
  color: #cabc89;
}

.nav li a {
  text-decoration: none;
  padding: auto;
}
